[submodule "Radish-Standard-Library"]
	path = Radish-Standard-Library
	url = https://github.com/teo67/Radish-Standard-Library.git
[submodule "Radish-Examples"]
	path = examples
	url = https://github.com/teo67/Radish-Examples.git
[submodule "examples"]
	path = examples
	url = https://github.com/teo67/Radish-Examples.git
